# exclude random quartus stuff
db/*
!db/ip/*

.qsys_edit/*
incremental_db/*

# exclude simulation and output files
output_files/
simulation/

# exclude object files
software/**/obj

# secrets
discord_interface/secret.js
discord_interface/node_modules
